{% if home_banners %}
<section class="banner-slider-section home-banner-block" aria-label="بنر صفحه اصلی">
    <div class="js-swiper-banner swiper banner-swiper">
        <div class="swiper-wrapper">
            {% for banner in home_banners %}
            {% include "website/partials/home-banner-slide.html" with banner=banner is_first=forloop.first %}
            {% endfor %}
        </div>
        <div class="swiper-button-prev banner-nav-prev"></div>
        <div class="swiper-button-next banner-nav-next"></div>
        <div class="swiper-pagination banner-pagination"></div>
    </div>
</section>
{% endif %}
