{% extends 'dashboard/admin/base-desktop.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item">دسته بندی‌ها</li>
        <li class="breadcrumb-item active" aria-current="page">
            ایجاد دسته بندی
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-header-title">ایجاد دسته بندی</h5>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">
                <div class="col-md-6 mb-3">
                    <label>عنوان</label>
                    {{form.title}}
                </div>
                <div class="col-md-6 mb-3">
                    <label>اسلاگ</label>
                    {{form.slug}}
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class=" d-flex pt-5 justify-content-end">
                <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:category-list' %}">بازگشت</a>
                <button class="btn btn-primary ms-3" type="submit">ایجاد دسته بندی</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

