{% extends dashboard_admin_base_template %}
{% load static %}

{% block breadcrumb %}
{% if is_mobile_site %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
    </ol>
</nav>
{% else %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item active" aria-current="page">داشبورد ادمین</li>
    </ol>
</nav>
{% endif %}
{% endblock %}

{% block title %}{% if is_mobile_site %}داشبورد ادمین{% endif %}{% endblock title %}

{% block content %}
{% if is_mobile_site %}
{% include "dashboard/admin/partials/home-content-mobile.html" %}
{% else %}
{% include "dashboard/admin/partials/home-content-desktop.html" %}
{% endif %}
{% endblock %}
