{% extends 'dashboard/admin/base-mobile.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:admin:blog-category-list' %}">دسته‌بندی بلاگ</a></li>
        <li class="breadcrumb-item active" aria-current="page">ایجاد</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-header-title">ایجاد دسته‌بندی بلاگ</h5>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>نام</label>
                    {{ form.name }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex pt-3 justify-content-end">
                <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:blog-category-list' %}">بازگشت</a>
                <button class="btn btn-primary ms-3" type="submit">ایجاد</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
