{% extends 'dashboard/admin/base-mobile.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:admin:blog-post-list' %}">پست‌ها</a></li>
        <li class="breadcrumb-item active" aria-current="page">حذف پست</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-header-title">حذف پست</h5>
    </div>
    <div class="card-body">
        <p class="mb-0">آیا از حذف پست زیر مطمئن هستید؟</p>
        <div class="mt-3">
            <strong>{{ object.title }}</strong>
        </div>
    </div>
    <div class="card-footer">
        <form action="." method="post" class="d-flex pt-2 justify-content-end">
            {% csrf_token %}
            <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:blog-post-list' %}">انصراف</a>
            <button class="btn btn-danger ms-3" type="submit">حذف</button>
        </form>
    </div>
</div>
{% endblock %}
